doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/libs/bootstrap-3.1.1-dist/css/bootstrap.min.css')
    script(type="text/javascript", src="libs/underscore-min.js")
    script(type="text/javascript", src="libs/jquery-1.11.1.min.js")
    script(type="text/javascript", src="libs/jQuery.lightDataBind.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content